@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Style+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #B39DDB;
  overflow: auto;
  height: 100%;
  min-height: 100vh;
}


header{
  display: flex;
  align-items: center;
  background-color: #673AB7;
  color: white;
  width: 100%;
  height: 5.8em;
}

#logo{
  display: flex;
  flex: 50%;
  align-items: center;
  margin-left: 2em;
}

#logo>#icon{
  width: 5rem;
}

#logo>h1{
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  
}

header>#nav-bar{
  display: flex;
  justify-content: end;
  flex: 50%;
  margin-right: 5em;
}

header>#nav-bar>a, #dropdown-btn{
  display: block;
  background-color: #976ede;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0.5em 1em;
  font-family: "Lora", serif;
}

header>#nav-bar>a:hover, #dropdown-btn:hover{
  background-color: #976ede8f;
}

#dropdown-content{
  display: none;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  height: 500px;
}

#dropdown-content>a{
  background-color: rgb(130, 92, 195);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0.5em 1em;
  font-family: "Lora", serif;
  width: 155px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#dropdown-content>a:hover{
  background-color: rgb(195, 92, 92);
}

#dropdown-content::-webkit-scrollbar{
  display: none;
}

#dropdown:hover #dropdown-content{
    display: flex;
} 

#dropdown:hover #dropdown-btn{
  background-color: #976ede8f;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  justify-content: center;
  width: 70%;

}

#cards>a{
  margin-bottom: 6em;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.8em;
  width: 12em;
  height: 19em;
  background-color: white;
  color: #000000;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
  margin-right: 2em;
  margin-left: 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 100ms ease-in-out; 
}

.card:hover{
  scale:1.1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  opacity: 1;
  transition: 100ms  ease;
  background-color: #673AB7;
  color: white;
}

.card>#card-content>h2{
  font-family: "Lora", serif;
  font-size: larger;
}

.card>h3{
  font-family: "Lora", serif;
  font-style: italic;
  font-size: small;
  margin-top: 0.4em;
}

#card-content{
  display: flex;
  margin-top: 0.4em;
  align-items: center;
}



section{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex: 100%;
}

img{
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 0.5em;
  transition: 1000ms;
}

a{
  text-decoration: none;
  color: black;
}


footer{
  background-color: black;
  padding: 0.5em;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Lora", serif;
  font-size: small;
  margin-top: 4em;
}


#filtro{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 38em;
  background-color: #673AB7;
  border-radius: 2em;
  font-family: "Lora", serif;
  align-items: center;
  padding: 2em;
  color: white;
  left: 3em;
  overflow: hidden;
  text-align: center;
}

#filtro>h2{
  margin-bottom: 1em;
}

#filtro>h3{
  margin: 1em;
}

#filtro>div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #976ede;
  color: white;
  font-size: smaller;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.176);
  padding: 1em;
}



.hidden{
  display: none;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #d4acfb;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.1em;
  bottom: 0.05em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #673AB7;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #b84fce;
}

.switch input:checked + .slider:before {
  transform: translateX(1.7em);

}




@media only screen and (max-width: 600px){
  header{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  header>#nav-bar>a, #dropdown-btn{
    padding: 0.4em 0.7em;
    overflow: hidden;
  }

  header>#nav-bar{
    margin-right: 0;
  }

  header{
    height: 7em;
  }

  #dropdown:hover #dropdown-content{
    display: none;
} 
}

@media only screen and (max-width: 1285px){
  .card{
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  #filtro{
    display: none;
  }
} 

