@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #B39DDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

header{
  background-color: #673AB7;
  width: 100%;
  height: 6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#icon{
  width: 5rem;
}

#logo{
  display: inline;
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
}

main{
  background-color: #FAF3E0;
  overflow: hidden;
  width: 50%;

  padding: 1.5em;
  border: 0.5em,solid  #673AB7;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dados{
  background-color: #B39DDB;
  color: white;
  width: 7em;
  height: 3em;
  
  text-align: center;
  justify-content: center;
}

#metricas{
  color: white;
  width: 7em;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  font-family: "Lora", serif;
  font-style: italic;
}

#metricas>h3{
  background-color: #ffffff;
  color: #B39DDB;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  font-size: small;
  align-items: center;
  text-align: center;
}

#card-icons>img{
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
}

#card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.8em;
  width: 12em;
  height: 19em;
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#card>h2{
  font-family: "Playfair Display", serif;
}

#card>h3{
  font-family: "Lora", serif;
  font-style: italic;
  font-size: small;
  margin-top: 0.4em;
}

#card-content{
  display: flex;
  margin-top: 0.4em;
  align-items: center;
  justify-content: space-around;
}

img{
  object-fit: cover;
  width: 10em;
  height: 80%;
  border-radius: 0.5em;
}

#curiosidade{
  background-color: #B39DDB;
  display: flex;
  border-radius: 2rem;
  margin-top: 2em;
  color: #060012;
  padding: 1em;
  text-align: justify;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  font-size: medium;
}

#basic{
  margin: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#conteudo-inicial{
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

#tabuletas{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
}

#tabuletas>div{
  display: flex;
  
}

#conteudo{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  color: #060012;
  text-align: justify;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  font-size: larger;
}

#habitos{
  display: flex;
  flex-direction: column;
  font-size:larger;
  color: rgb(210, 174, 30);
  align-items: center;
  margin-bottom: 2em;
}


#conteudo>img{
  width: 20em;
}

#habitos>div>div>img{
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.301);
}

#reproducao>div>img{
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.301);
}

#reproducao{
  display: flex;
  flex-direction: column;
  font-size:larger;
  margin-bottom: 2em;
  align-items: center;
  color: rgb(25, 169, 49);
}

#reproducao>p{
  text-align: justify;
  color: rgb(0, 0, 0);
}

#reproducao>div>div>img{
  width: 60px;
  border: 2px solid rgba(0, 0, 0, 0.301);
}

p{
  font-size: large;
  margin-bottom: 1em;
}

iframe{
  border-radius: 0.5em;
}

#conteudo>div{
  display: flex;
}
#conteudo>div>p{
  margin-left: 2em;
}

.habitos-reproducao-conservacao{
  display: flex;

}

.habitos-reproducao-conservacao>p{
  color: #060012;
  text-align: justify;
  margin-left: 2em;

}

#atividade-vida-dieta{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: medium;
}

#atividade-vida-dieta>div{
  margin-left: 2em;

}

button{
  border: none;
  color: white;
  background-color: #673AB7;
  
  height: 1.7em;
  font-size: medium;
  border-radius: 0.3em;
  cursor: pointer;
}

input{
  background-color: #B39DDB;
  border: none;
  color: #673AB7;
  width: 10em;
  height: 2em;
  border-radius: 0.3em;

}

.hidden{
  transition: 2000ms ease;
  height: 0;
  margin-top: 0em;
  padding: 0;
  overflow: hidden;
  border: none;
}

section{
  font-family: "Patrick Hand", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  overflow: hidden;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.5em;
  padding: 2em;
  transition: 2000ms;
  vertical-align: middle;
}

.selected{
  background-color: #B39DDB;
}

.pergunta {
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

#resultado {
  text-align: center;
}

#resultado.hidden {
  display: none;
}


#quiz-section button {
  background-color: #673AB7;
  border: none;
  color: white;
  width: 14em;
  height: 4em;
  border-radius: 0.5em;
  cursor: pointer;
}

#quiz-section button:hover {
  background-color: #5e35b1bb;
}


@media (max-width:1100px){

  main{
    width: 100%;
  }

  #quiz-section>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #quiz-section>div>div>button{
    margin-bottom: 2em;
  }
}

@media (max-width:580px){

  main{
    border: none;
  }
  #conteudo-inicial{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tabuletas{
    margin-top: 2em;
  }

  iframe{
    width: 80%;
 
  }

}

@media (max-width:400px){

#conteudo>p{
  padding: 2em;
}

#conteudo>img{
  width: 17em;
}


#reproducao>p{
 margin-right: 2em;
}

.habitos-reproducao-conservacao{
  flex-direction: column;
  align-items: center;
}


}


  
